<div class="card">
    <div class="container-fluid">
        <div class="row" height="300px">
            <div class="col-md-12">
                <button type="button" class="close" data-dismiss="modal" style="color:#f73f5b;outline:none;" (click)="toggleDetails('clearDetails')">
                    &times;
                </button>
            </div>
            <div class="col-md-12 col-lg-6 col-xl-5 ">
                <div class="row padding20">
                    <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
                </div>
            </div>
            <div class="col-md-12 col-lg-6 col-xl-7">
                <div class="padding10">
                    <div class="row pt-1">
                        <h3 style="font-size:15px; "><b> Hotel Details </b></h3>
                    </div>

                    <div class="row">
                        <span
                            style="padding:7px 30px 0 2px;letter-spacing: 0.3px;
                    text-align: justify;
                    color: #263840;opacity: 0.5;font-size:12px"
                            >The best service apartments in Hyderabad for your short and extended stays.You travel with a purpose and we assure an effortlessly
                            comfortable, convenient and absolutely homelike stay every time you visit the City of Nizams.Embrace congenial pleasures and a home
                            like environment with Blobb, Premium Serviced Apartments. The apartment offers an outdoor pool. A car rental service is available at
                            Blobb Serviced Apartment.</span
                        >
                    </div>
                    <div class="row">
                        <img src="../../../../assets/icons/placeholder-1.svg" style="margin-top:10px;" />

                        <!-- <span style="padding:13px 0 0 2px;font-size:10px">Lorem Ipsum is simply dummy text of the printing</span>
                        <div class="offset-md-1 offset-lg-1 offset-sm-1 offset-1" style="padding-top:9px"><span style="font-size:10px">5 KM</span></div> -->
                        <span style="padding:13px 0 0 2px;font-size:10px">Charminar</span>
                    </div>
                    <div class="row">
                        <img src="../../../../assets/icons/placeholder-1.svg" style="margin-top:10px;" />

                        <!-- <span style="padding:13px 0 0 2px;font-size:10px">Lorem Ipsum is simply dummy text of the printing</span>
                        <div class="offset-md-1 offset-lg-1 offset-sm-1 offset-1" style="padding-top:9px"><span style="font-size:10px">4 KM</span></div> -->
                        <span style="padding:13px 0 0 2px;font-size:10px">Golconda Fort</span>
                    </div>
                    <div class="row">
                        <img src="../../../../assets/icons/placeholder-1.svg" style="margin-top:10px;" />

                        <!-- <span style="padding:13px 0 0 2px;font-size:10px">Lorem Ipsum is simply dummy text of the printing</span>
                        <div class="offset-md-1 offset-lg-1 offset-sm-1 offset-1" style="padding-top:9px"><span style="font-size:10px">10 KM</span></div> -->
                        <span style="padding:13px 0 0 2px;font-size:10px"> Tank Bund</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
