<!-- <div class="row">
    <div class="col-md-12">
        <input
            id="cal-img"
            type="text"
            [bsConfig]="datePickerConfig"
            class="form-control"
            bsDatepicker
            autocomplete="off"
            placeholder="To Date"
            [(ngModel)]="roomBook.toDate"
            name="roomBook_toDate"
            #roomBook_toDate="ngModel"
        />
        <img src="../../../assets/icons/calendar.svg" alt="calendar" height="20px" style="position:relative; bottom:30px;left:100px;  " />
    </div>
</div> -->
