<section class=" text-center Feature">
    <div class="container">
        <div class="wrapper">
            <div class="row dl-special">
                <div class="col-md-12 amenit" style="padding-top:50px; padding-bottom: 50px">
                    <!-- <h1 style="font-size:33px;">Blobb Features</h1> -->
                    <h1 style="font-size:32px;">Blobb Amenities</h1>
                    <hr />
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row  whydltSpl">
                <div class="col-md-4 col-lg-4 col-xl-2 col-sm-6 col-6" data-aos="fade-up" data-aos-duration="1000">
                    <img src="../../../assets/icons/hotel.svg" alt="Accomodation" title="Accomodation" height="60px"
                        width="60px;" />
                    <h6>Accomodation</h6>
                    <!-- <p>Perfect solution: hotel, apartment, hostel, guest house.</p> -->
                </div>
                <div class="col-md-4  col-lg-4 col-xl-2 col-sm-6 col-6" data-aos="fade-up" data-aos-duration="1100">
                    <img src="../../../assets/icons/big-ben.svg" alt=" Tourist Attractions" height="60px"
                        width="60px;" />
                    <h6>Tourist Attractions</h6>
                    <!-- <p>Search for your favourite: restaurant, museum, hotel, attractions.</p> -->
                </div>
                <div class="col-md-4 col-lg-4 col-xl-2 col-sm-6 col-6" data-aos="fade-up" data-aos-duration="1200">
                    <img src="../../../assets/icons/restaurent1.svg" alt="Restaurants" height="60px" width="60px;" />
                    <h6>Restaurants</h6>
                    <!-- <p>You are hungry: chinese food, burgers, traditional food.</p> -->
                </div>
                <div class="col-md-4 col-lg-4 col-xl-2 col-sm-6 col-6" data-aos="fade-up" data-aos-duration="1300">
                    <img src="../../../assets/icons/ticket.svg" alt="Events & Tickets" height="60px" width="60px;" />
                    <h6>Events & Tickets</h6>
                    <!-- <p>It's time to have fun: concerts, cinema, exhibitions.</p> -->
                </div>
                <div class="col-md-4 col-lg-4 col-xl-2 col-sm-6 col-6" data-aos="fade-up" data-aos-duration="1400">
                    <img src="../../../assets/icons/coffee.svg" alt="Coffee Shop" height="60px" width="60px;" />
                    <h6>Coffee Shop</h6>
                    <!-- <p>You must wake up: Starbucks, Filicori, Nescafe, Lavazza.</p> -->
                </div>
                <div class="col-md-4 col-lg-4 col-xl-2 col-sm-6 col-6" data-aos="fade-up" data-aos-duration="1500">
                    <img src="../../../assets/icons/parliament.svg" alt="Government" height="60px" width="60px;" />
                    <h6>Government</h6>
                    <!-- <p>Must see: parliament building, district court, royal house.</p> -->
                </div>
            </div>
        </div>
    </div>
</section>