.dl-special .figure img {
    transition: all ease-in-out 0.2s;
    cursor: pointer;
    height: 70px;
    width: 70px;
}

.section-padding {
    padding: 40px;
}

.whydltSpl h6 {
    margin-top: 15px;
    margin-bottom: 30px;
    font-weight: bold;
}

.dl-special .row {
    margin-top: 50px;
}

p {
    margin-top: 15px;
    font-size: 12px;
}
hr {
    width: 180px;
    height: 5px;
    border-radius: 6px;
    background-image: linear-gradient(89deg, #f73f5b, #263840);
    margin: auto;
    margin-top: 5px;
}
@media screen and (max-width: 740px) {
    h1 {
        font-size: 25px !important;
    }
    hr {
        height: 3px;
        width: 162px;
    }
    h6 {
        font-size: 13px !important;
    }
}
@media screen and (max-width: 578px) {
    .amenit {
        padding-top: 15px !important;
        padding-bottom: 20px !important;
    }
}
@media screen and (max-width: 578px) {
    .Feature {
        margin-right: 25px !important;
    }
}
