<div class="row d-flex justify-content-center">
    <div class="col-md-11 col-sm-11 col-11">
        <div class="card" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);border-radius: 8px;margin-bottom: 40px;">
            <div class="col-12">
                <h1 class="text-center" style="font-size:32px;padding-top:30px;padding-bottom: 5px !important;">TERMS OF SERVICE</h1>
                <hr />
                <h3>CHECK-IN DOCUMENTS</h3>

                <p class="col-12">
                    As per the government regulation, every guest is required to carry a valid Identity proof. The ID proofs accepted are Driving license, Voter
                    ID, Passport, and Aadhar card. Guests will not be allowed to check-in without a valid identity proof. PAN card is not a Valid ID. For
                    Foreign Nationals Passport is accepted as an Identity Proof.
                </p>
                <h3>BOOKING CONFIRMATION</h3>
                <ul>
                    <li>Confirmation of booking is subject to the receipt of advance payment</li>

                    <li>Extension Stay Policy</li>

                    <li>Extension of stay is possible to subject to availability</li>

                    <li>Room tariff can be different depending upon the dates of booking.</li>
                </ul>

                <h3>PAYMENT & CANCELLATION POLICY</h3>
                <ul>
                    <li>Any cancellations need to be informed 48 hours in advance in order to get a 100 % refund</li>
                    <li>If canceled less than 24 hours of the booking date, refund cannot be processed</li>
                    <li>Withholding charges are applicable in case of “No Call – No Show”</li>
                    <li>Any special requests (which are subject to Blobb approval) or any cancellation, reach us bookings@blobb.co</li>
                    <li>Bulk bookings are accepted with no cancellation policy.</li>
                    <li>
                        For bookings of more than 7 nights, guests have to settle all outstanding payments on a weekly basis.For bookings of more than 7 nights,
                        guests have to settle all outstanding payments on a weekly basis.
                    </li>
                </ul>

                <h3>REFUND POLICY</h3>
                <ul>
                    <li>
                        Upon your request for cancellation (As per cancellation/No Show policy), Hotel will contact the bank immediately to handle the crediting
                        process. The refund will be made through the credit card used to purchase.
                    </li>
                    <li>
                        Normally refund shall reflect in the next billing cycle of your credit card. However, It could take around 15 – 30 business days for the
                        actual crediting to take place depending on the bank’s practice.
                    </li>
                </ul>

                <h3>GENERIC TERMS AND CONDITIONS:</h3>
                <ul>
                    <li>
                        Guests are requested to take care of the apartment’s assets during the stay, guests will be held liable for any damages to the property
                        premises
                    </li>
                    <li>
                        Any actions by the guest are presumed or found inappropriate by the Blobb management, necessary action will be taken against and the
                        case will be further investigated by the appropriate authority.
                    </li>
                    <li>We request our guest to take care of the apartment possessions and keep the premises clean</li>
                    <li>
                        We do not serve liquor nor we encourage our guests to consume it in the common areas like corridors, halls, kitchen and meeting rooms.
                    </li>
                    <li>We love pets, but we do not allow them into our premises.</li>
                </ul>
            </div>
        </div>
    </div>
</div>
