<div class="image">
    <div class="container ">
        <div class="row justify-content-center">
            <div class="card col-md-7 col-sm-10 col-10 col-lg-7">
                <div class="card-body justify-content-center">
                    <h3 class="card-title text-center" style="font-weight: bold; line-height: 50px;color:#ee3f56">Sign In</h3>
                    <hr />
                    <form>
                        <div class="row justify-content-center">
                            <div class="col-lg-7">
                                <input
                                    type="text"
                                    class="form-control"
                                    placeholder="Username or email"
                                    autocomplete="off"
                                    style="margin-bottom: 30px !important;"
                                />
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-lg-7">
                                <input type="password" class="form-control" placeholder="Password" autocomplete="off" style="margin-bottom: 30px !important;" />
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-lg-7">
                                <button class="form-control">Login</button>
                            </div>
                        </div>
                        <div class="row card-title text-center" style="margin-top:20px;">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                                <h6 style="color:#ee3f56">Register now</h6>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                                <h6>Forgot Password</h6>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
