<div class="banner">
    <div class="container-fluid h-100 blur">
        <h1 data-aos="zoom-in" data-aos-duration="1500">
            For Every One <span>Loves</span> a
            <br />

            <span>Home Away</span> From Home
        </h1>
    </div>
</div>

<div class="row d-flex justify-content-center">
    <div class="col-md-11 col-sm-9 col-11">
        <div class="card head" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);border-radius: 8px;margin-top: 30px;">
            <div class="row card-body">
                <div class="col-md-6  col-sm-12 col-12 d-flex justify-content-center" data-aos="fade-right" data-aos-duration="1000">
                    <img src="../../../assets/img/charminar.png" />
                </div>

                <div class="col-md-6  col-sm-12 col-12 text-center" data-aos="fade-left" data-aos-duration="1000">
                    <h1 style="padding-top:40px !important;">
                        We Cater
                    </h1>
                    <h1>To Your Comfort</h1>
                    <h1>In The</h1>
                    <h1><span>CITY YOU LOVE</span></h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row d-flex justify-content-center">
    <div class="col-md-11 col-sm-9 col-11">
        <div class="card head1" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);border-radius: 8px;margin-top: 30px;">
            <div class="row card-body ">
                <div class="col-md-6">
                    <div class="row d-flex justify-content-center" data-aos="fade-up" data-aos-duration="1000">
                        <h1 style="color: #FF4157;">Our Mission</h1>
                    </div>
                    <div class="col-md-9 col-sm-12 col-12 container">
                        <div class="row d-flex justify-content-center">
                            <p>
                                We believe in making you feel at home. Extending a warm welcome and a cozy address to every concern while you stay away from
                                your home for you to avail the most premium of amenities and facilities for your short and long term stays irrespective of the
                                purpose. We deliver your ease.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12 col-12 text-center">
                    <img class=" text-center" src="../../../assets/img/about-us1.svg" height="250px" width="100%" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row d-flex justify-content-center">
    <div class="col-md-11 col-sm-9 col-11">
        <div class="card head2" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);border-radius: 8px;margin-top: 30px;">
            <div class="row card-body">
                <h1 class="col-12 text-center" data-aos="fade-up" data-aos-duration="1000">How Blobb Works</h1>
                <p class="col-12 text-center">It’s as simple as booking an evening show. 3 steps to your happy home stay.</p>
                <p class="col-12 text-center gap">Rest assured, you’ll feel the best.</p>

                <div class="col-md-4  col-sm-12 col-12 text-center">
                    <img class="col-8 text-center" src="../../../assets/img/about-us2.svg" height="67%" />
                    <h5 style="padding-top: 20px;padding-bottom: 13px;" class="gap1">CONFIRM</h5>
                    <h5 style="padding-bottom: 100px;">THE DATES</h5>
                </div>

                <div class="col-md-4  col-sm-12 col-12 text-center">
                    <img class="col-8 text-center" src="../../../assets/img/about-us3.svg" height="67%" />
                    <h5 style="padding-top: 20px;padding-bottom: 13px;">LOOK FOR BLOBB IN &</h5>
                    <h5 style="padding-bottom: 20px">AROUND YOUR PREFERRED STAY LOCATION</h5>
                </div>
                <div class="col-md-4  col-sm-12 col-12 text-center">
                    <img class="col-8 text-center" src="../../../assets/img/about-us4.svg" height="67%" />
                    <h5 style="padding-top: 20px;padding-bottom: 13px;" class="gap1">SELECT AND PLACE &</h5>
                    <h5 style="padding-bottom: 100px;">AWAIT YOUR BEST STAY EVER</h5>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row d-flex justify-content-center">
    <div class="col-md-11 col-sm-9 col-11">
        <div class="card head2" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);border-radius: 8px;margin-top: 30px;">
            <div class="row card-body">
                <h1 class="col-12 text-center" data-aos="fade-up" data-aos-duration="1000">Our Space, Your Stay, Your Way</h1>
                <p class="col-12 text-center">Make memories at the best service apartments in Hyderabad.</p>

                <img class="col-12" src="../.././../assets/img/why-blobb-3.svg" alt="Hospitality" class="padding-one memories" />

                <p class="col-12 text-center" style="  text-align: justify;">
                    More than a promise, “Heartfelt Hospitality” is an influential value system that resonates with Blobb Service Apartments,
                </p>

                <p class="col-12 text-center" style="  text-align: justify;">
                    The service philosophy is experienced right from the moment we greet the guest into the hotel until the time they check-out.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row d-flex justify-content-center">
    <div class="col-md-11 col-sm-9 col-11">
        <div class="card head2" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);border-radius: 8px;margin-top: 30px;">
            <div class="row card-body">
                <h1 class="col-12 text-center" style="color:#FF4157" data-aos="fade-up" data-aos-duration="1000">Why Blobb</h1>
                <p class="col-12 text-center" style="  text-align: justify;">
                    If a well-equipped and fully furnished apartments is what you are looking for then we’re game.
                </p>
                <p class="col-12 text-center" style="  text-align: justify;">
                    Our incredible amenities and promising features keep you warm, cozy and at unbelievable ease despite being away from your best
                </p>
                <p class="col-12 text-center">comfort zone. Because your choice is our demand.</p>
                <div class=" section-padding dl-special text-center">
                    <div class="col-md-11 container">
                        <div class="row">
                            <ng-container *ngFor="let card of icons">
                                <div class="col-md-4 col-sm-6 col-6 col-lg-3">
                                    <img src="{{ card.img }}" height="50px" style="margin-top:25px" />
                                    <p class="font">{{ card.p }}</p>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row d-flex justify-content-center">
    <div class="col-md-11 col-sm-9 col-11">
        <div class="row">
            <div class="col-md-6  col-sm-12 col-12 ">
                <div
                    class="card head5"
                    style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);border-radius: 8px;margin-top: 30px;"
                >
                    <img
                        class="pic"
                        style="margin-bottom: 20px;padding-top:55px !important;text-align: center"
                        src="../../../assets/img/about-us-email.svg"
                        height="514px "
                    />
                    <p class="text-center">BE THE FIRST TO KNOW ABOUT</p>
                    <p class="text-center">EVERYTHING WE DO</p>

                    <!-- <div class="row justify-content-center">
                        <div class="card col-md-8 col-sm-8 col-10 email">
                            <div class="row justify-content-center">
                                <div class="col-md-10 col-sm-11 col-11 col-lg-10">
                                    <div class="input-group date">
                                        <input type="email" name="last name" placeholder="Email ID" />
                                    </div>
                                </div>
                            </div>

                            <div class="row justify-content-center">
                                <div class=" col-md-8 col-sm-9 col-9">
                                    <div class="input-group date">
                                        <button class="form-control">SUBSCRIBE</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <form class="login-form" novalidate autocomplete="off" [formGroup]="DetailsForm" ng-show="$select.searchEnabled">
                        <div class="row justify-content-center">
                            <div class="col-md-11 col-sm-11 col-11">
                                <div class="form-group">
                                    <label style="font-size: 15px;">Email</label>
                                    <div class="input-group date" id="email">
                                        <input
                                            type="email"
                                            class="form-control"
                                            name="aboutSubscribe_email"
                                            [(ngModel)]="aboutSubscribe.email"
                                            placeholder="Enter email"
                                            formControlName="email"
                                            required
                                        />
                                    </div>
                                    <span class="error" *ngIf="DetailsForm.get('email').touched && DetailsForm.get('email').hasError('required')">
                                        Enter valid Email
                                    </span>
                                </div>
                            </div>

                            <div class=" col-8">
                                <div class="input-group date">
                                    <button type="submit" class="form-control get-in-touch btn" [disabled]="!DetailsForm.valid" (click)="submit()">
                                        SUBSCRIBE
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-6  col-sm-12 col-12">
                <div
                    class="card head5"
                    style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);border-radius: 8px;margin-top: 30px;"
                >
                    <h1 class="col-12 text-center" style="padding-bottom:20px;" data-aos="fade-up" data-aos-duration="1000">Get In Touch</h1>
                    <p class="col-12 text-center">CONTACT US AND WE ASSURE YOU THE</p>
                    <p class="col-12 text-center">BEST OF COMFORT</p>
                    <div class="form-group">
                        <form class="login-form" novalidate autocomplete="off" [formGroup]="UserDetailsForm" ng-show="$select.searchEnabled">
                            <div class="row justify-content-center">
                                <!-- <div class="col-md-8 col-sm-10 col-10">
                                <div class="input-group date" id="firstname">
                                    <input type="text" name="first name" placeholder="NAME" />
                                </div>
                            </div>

                            <div class="col-md-8 col-sm-10 col-10">
                                <div class="input-group date" id="lastname">
                                    <input type="email" name="last name" placeholder="Email ID" />
                                </div>
                            </div>
                            <div class="col-md-8 col-sm-10 col-10">
                                <div class="input-group date" id="phone">
                                    <input type="number" name="number" placeholder="MOBILE NO" />
                                </div>
                            </div>
                            <div class="col-md-8 col-sm-10 col-10">
                                <div class="input-group date" id="message">
                                    <input placeholder="MESSAGE" class="form-group" style="margin-top:90px !important;" />
                                </div>
                            </div> -->
                                <div class="col-md-11 col-sm-11 col-11">
                                    <div class="form-group">
                                        <label style="font-size: 15px;">Name</label>
                                        <div class="input-group date" id="firstname">
                                            <input
                                                type="text"
                                                class="form-control"
                                                name="aboutus_name"
                                                [(ngModel)]="aboutus.name"
                                                placeholder="Enter name"
                                                formControlName="name"
                                                required
                                            />
                                        </div>
                                        <span class="error" *ngIf="UserDetailsForm.get('name').touched && UserDetailsForm.get('name').hasError('required')">
                                            Name required
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-11 col-sm-11 col-11">
                                    <div class="form-group">
                                        <label style="font-size: 15px;">Email address</label>
                                        <div class="input-group date" id="lastname">
                                            <input
                                                type="email"
                                                class="form-control"
                                                name="aboutus_email"
                                                [(ngModel)]="aboutus.email"
                                                placeholder="Enter email"
                                                formControlName="email"
                                                required
                                            />
                                        </div>
                                        <span class="error" *ngIf="UserDetailsForm.get('email').touched && UserDetailsForm.get('email').hasError('required')">
                                            Enter valid Email
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-11 col-sm-11 col-11">
                                    <div class="form-group">
                                        <label style="font-size: 15px;">Mobile</label>
                                        <div class="input-group date" id="phone">
                                            <input
                                                type="number"
                                                class="form-control"
                                                name="aboutus_mobile"
                                                [(ngModel)]="aboutus.mobile"
                                                formControlName="mobile"
                                                placeholder="Enter mobile number"
                                                required
                                            />
                                        </div>
                                        <span class="error" *ngIf="UserDetailsForm.get('mobile').touched && UserDetailsForm.get('mobile').hasError('required')">
                                            Invalid Mobile Number
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-11 col-sm-11 col-11">
                                    <label style="font-size: 15px;">Message</label>
                                    <div class="input-group date" id="message">
                                        <textarea
                                            class="form-group"
                                            rows="8"
                                            cols="150"
                                            style="border:1px solid silver !important;min-height: 40px;max-height: 190px;border-radius: 4px"
                                            [(ngModel)]="aboutus.message"
                                            name="aboutus_message"
                                            formControlName="message"
                                        ></textarea>
                                    </div>
                                </div>
                                <div class=" col-8">
                                    <div class="input-group date" id="submit">
                                        <button type="submit" class="form-control get-in-touch btn" [disabled]="!UserDetailsForm.valid" (click)="save()">
                                            SUBMIT
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row d-flex justify-content-center" style="margin-top:20px;">
    <div class="col-md-11 col-sm-9 col-11">
        <div class="maps">
            <div class="row">
                <div class="col-md-4 col-sm-12 col-12">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3806.7330922179667!2d78.34508921538558!3d17.424592088056443!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb932665798c7d%3A0x6b68dc3b6e6eba9!2sBlobb+(Premium+Serviced+Apartments)%2C+Gachibowli!5e0!3m2!1sen!2sin!4v1554446369556!5m2!1sen!2sin"
                        width="100%"
                        height="408px"
                        frameborder="0"
                        style="border:0;margin-bottom:20px;margin-top:10px"
                        allowfullscreen
                    ></iframe>
                </div>
                <div class="col-md-4 col-sm-12 col-12">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3806.8495137386226!2d78.39962341538565!3d17.41900808805959!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb90d2e918598b%3A0x236014068546ad02!2sBlobb+(Premium+Serviced+Apartments)%2C+Jubilee+Hills!5e0!3m2!1sen!2sin!4v1553931781452!5m2!1sen!2sin"
                        width="100%"
                        height="408px"
                        frameborder="0"
                        style="border:0;margin-bottom:20px;margin-top:10px"
                        allowfullscreen
                    ></iframe>
                </div>
                <div class="col-md-4 col-sm-12 col-12">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3806.7533768488047!2d78.43705851538562!3d17.423619288056937!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb97cc29be5c95%3A0x2d00f65fa989c986!2sBlobb+(Premium+Serviced+Apartments)%2C+Banjara+Hills!5e0!3m2!1sen!2sin!4v1554446980992!5m2!1sen!2sin"
                        width="100%"
                        height="408px"
                        frameborder="0"
                        style="border:0;margin-bottom:20px;margin-top:10px;"
                        allowfullscreen
                    ></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
