<div class="footerMain">
    <div fxLayout="row wrap" fxLayoutAlign="center start" class="main-footer" style="padding-top: 20px;">
        <div class="ul-list">
            <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                <div class="fdiv" fxFlex="100" fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="20" fxFlex.lg="20" fxFlex.xl="20">
                    <h3 style="font-size: 24px !important;color: #263840;">Blobb</h3>
                    <ul style="padding-top: 12px;font-size: 16px;">
                        <li
                            style="color: #263840;line-height: 2.22;
                        letter-spacing: 0.3px;
                        color: #263840;"
                            class="link"
                        >
                            <a href="/#home">Home</a>
                        </li>
                        <li
                            style="color: #263840;line-height: 2.22;
                        letter-spacing: 0.3px;
                        color: #263840;"
                            class="link"
                        >
                            <a routerLink="/about-us"> About Us</a>
                        </li>
                        <li
                            style="color: #263840;line-height: 2.22;
                        letter-spacing: 0.3px;
                        color: #263840;"
                            class="link"
                        >
                            <a routerLink="corporate-booking">Corporate Booking </a>
                        </li>
                    </ul>
                </div>

                <div class="fdiv" fxFlex="100" fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="20" fxFlex.lg="20" fxFlex.xl="20">
                    <h3 style="font-size: 24px !important;color: #263840;">
                        Locations
                    </h3>
                    <ul style="padding-top: 12px;font-size: 16px;">
                        <li
                            style="color: #263840;line-height: 2.22;
                        letter-spacing: 0.3px;
                        color: #263840;"
                            class="link"
                        >
                            <a routerLink="/BanjaraHills"> Banjara Hills </a>
                        </li>
                        <li
                            style="color: #263840;line-height: 2.22;
                        letter-spacing: 0.3px;
                        color: #263840;"
                            class="link"
                        >
                            <a routerLink="/Gachibowli"> Gachibowli </a>
                        </li>
                        <li
                            style="color: #263840;line-height: 2.22;
                        letter-spacing: 0.3px;
                        color: #263840;"
                            class="link"
                        >
                            <a routerLink="/JublieeHills">Jubilee Hills</a>
                        </li>
                    </ul>
                </div>
                <div class="fdiv" fxFlex="100" fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="23" fxFlex.lg="23" fxFlex.xl="23">
                    <ul style="padding-top: 15px;">
                        <li>
                            <p style="margin-left: -5px">
                                <a href="https://www.facebook.com/blobbservicedapartment/" target="_blank">
                                    <img
                                        style="height:32px;width:32px;margin-top:5px;"
                                        class="fbfooter"
                                        src="../../../../assets/icons/facebook.svg"
                                        alt="facebook"
                                    />
                                </a>
                                <a href="https://www.instagram.com/blobb_serviced_apartments/" target="_blank">
                                    <img style="height:40px;width:40px;margin-left: -3px" src="../../../../assets/icons/instagram.svg" alt="instagram" />
                                </a>
                                <a href="https://www.linkedin.com/company/blobb-spaces/" target="_blank">
                                    <img src="../../../../assets/icons/linkedin.svg" alt="linkedin" />
                                </a>
                                <a href="https://www.youtube.com/channel/UCbj1r16A5q_WT0f8Rzky6gA" target="_blank">
                                    <img style="margin-left: 8px;" src="../../../../assets/icons/youtube.svg" alt="youtube" />
                                </a>
                                <a href="https://twitter.com/BlobbSpaces" target="_blank">
                                    <img style="margin-left: 4px;margin-top: 4px" class="twtrfooter" src="../../../../assets/icons/twitter.svg" alt="twitter" />
                                </a>
                            </p>
                        </li>
                        <ol>
                            <li
                                style="color: #263840;font-size: 16px;line-height: 2.22;
                            letter-spacing: 0.3px;
                            color: #263840;"
                            >
                                <img src="../../../../assets/icons/telephone.svg" style="padding-right:9px;" height="30px" width="30px" /> +91 9849233988
                            </li>

                            <li
                                style="color: #263840;font-size: 16px;line-height: 2.22;
                        letter-spacing: 0.3px;
                        color: #263840;"
                            >
                                <img src="../../../../assets/icons/clock.svg" style="padding-right:15px;" height="36px" width="36px" />Always Open
                            </li>
                            <li
                                style="color: #263840;font-size: 16px;line-height: 2.22;
                        letter-spacing: 0.3px;
                        color: #263840;"
                            >
                                <img
                                    src="../../../../assets/icons/e-mail-envelope.svg"
                                    style="padding-right:15px;"
                                    height="36px"
                                    width="36px"
                                />bookings@blobb.in
                            </li>
                        </ol>
                    </ul>
                </div>
                <div class="fdiv" fxFlex="100" fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="37" fxFlex.lg="37" fxFlex.xl="37">
                    <img src="../../../../assets/img/footer-blar.png" width="90px" height="28px" style="margin-top:12px" />
                    <ul style="padding-top: 12px;">
                        <li style="color: #263840;font-size: 12px;" class="link premium">
                            Blobb, a premium serviced apartments provider, is a one of a kind initiative. Get served like royalty and feel the complete
                            residential experience.
                        </li>
                        <h3 style="color: #263840;font-size: 24px;" class="link">
                            Contact Us
                        </h3>
                        <li style="color: #263840;font-size: 12px;" class="link">
                            RR Residency, 2nd Floor, Behind Tv9 Office, Near StoneValley Apartments, GHMC Park Road No. 3, BanjaraHills, Hyderabad,
                            Telangana-500034.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div
        class="footer-copyright"
        fxLayout="row wrap"
        fxLayoutAlign="space-around center"
        style="padding-top: 20px !important;margin-top: 30px !important;border-top: #333 1px solid;font-size: 0.9em;"
    >
        <div>
            <a class="navbar-header">
                <img src="../../../assets/img/blobb.svg" routerLink="/" width="230px" height="80px" alt="Bloob" style="outline:none" />
            </a>
        </div>
        <div align="center">
            <span style="font-size:12px" class="piont" routerLink="/privacy">
                Privacy Policy |
            </span>
            <span class="piont" style="font-size:12px;" routerLink="/terms">
                Terms Of Use
            </span>
            <br />
            <span style="font-size: 12px;">
                © Blobb 2019 All Rights Reserved.
            </span>
        </div>
        <div>
            <h5 style=" line-height: 1.6;color: #26383e;font-size:20px"><b>OUR SPACE YOUR WAY</b></h5>
        </div>
    </div>
</div>
