<div fxLayout="row wrap" fxLayoutAlign="center center" class="head">
    <div fxFlex="100">
        <h1 class="text-align-center" style="font-size:32px;padding-top: 50px">
            About Blobb Services
        </h1>
    </div>
    <div fxFlex="100" class="padding5">
        <hr />
    </div>
</div>
<div align="center">
    <div fxLayout="row wrap" class="max">
        <div fxFlex="50" fxFlex.sm="100" fxFlex.xs="100" fxFlex.lg="50" fxFlex.xl="50" fxLayout="row wrap"
            fxLayoutAlign="center center" data-aos="fade-right" data-aos-duration="1000">
            <p class="para"
                style="font-size:16px;line-height: 1.9; width: 447px;text-align: justify; color: rgb(99, 102, 111); ">
                <b style="font-size: 22px;color: #212529;">Exclusive Homelike Spaces</b><br />
                <strong>The best service apartments in Hyderabad </strong>for your short and extended stays.You travel
                with a purpose and we assure an
                effortlessly comfortable, convenient and absolutely homelike stay every time you visit the City of
                Nizams.Embrace congenial pleasures and a
                <strong>home like environment with Blobb,</strong> Premium Serviced Apartments. The apartment offers an
                outdoor pool. A car rental service is
                available at Blobb Serviced Apartment.
            </p>
        </div>

        <div fxFlex="50" fxFlex.sm="100" fxFlex.xs="100" fxFlex.lg="50" fxFlex.xl="50" fxLayoutAlign="center center"
            data-aos="fade-left" data-aos-duration="1000">
            <!-- <img src="../../../assets/img/corporate-banner.svg" /> -->
            <img src="../../../assets/img/charminar.png" />
        </div>
    </div>
</div>

<div fxLayout="row wrap" fxLayoutAlign="center center" class=" look padding20 blur">
    <div fxFlex="100" class="padding5" data-aos="fade-up" data-aos-duration="1000">
        <h2 class="text-align-center heading">Look for the best</h2>
    </div>
    <div fxFlex="100" class="padding5" data-aos="fade-up" data-aos-duration="1000">
        <h2 class="text-align-center heading">Accommodation and experiences!</h2>
    </div>
</div>