<div class="image">
    <div class="container-fluid h-100 blur">
        <h1 style=" font-weight:700; color:#ffffff;text-align: center;">Blog</h1>
    </div>
</div>

<div class="container-fluid w-100">
    <div class="padding">
        <div class="col-md-10 offset-md-1 col-sm-10 offset-sm-1">
            <h3>FAMILY HOLIDAY-SERVICE APARTMENT IS THE WAY!</h3>
            <h6>
                <i class="far fa-calendar-alt"></i>
                SATURDAY, 20 APRIL 2019
            </h6>
            <p>“If adventure scares you, try routine, it’s lethal”</p>
            <p>
                A beautifully set up house and a robust schedule is undoubtedly a sign of smooth life but often it happens that the status-quo becomes boring,
                to say the least.
            </p>
            <p>Especially if you are a parent to small children, you exactly know how mechanical life begins to feel when the clock governs you.</p>
            <h4>Breaks are needed</h4>

            <p>
                Tourism seems to bring a respite and rejuvenates you to start afresh with a better mindset. But with tourism comes the need to make a lot of
                arrangements, Lodging being the most important of all
            </p>
            <p>
                As you search through the web to plan your perfect mini break with kids, most of you are in favour of heading to resorts and nature retreats
                rather than going for a city break. Well, the reason could be that most of the traditional city hotel rooms just don’t provide the ample space
                and the freedom you need while holidaying with the family. But city breaks can also be a lot of fun for families if you choose to
                <span style="color: #ff4157;">stay with serviced apartments</span> over any common hotel room and here are the few reasons why.
            </p>
            <h4>Space for everyone to relax</h4>

            <p>
                Unlike being in a hotel room where you are likely to be crammed into the one space, you have the luxury of choosing a 1BHK,2BHK or 3BHK
                apartment which has a living room, separate kitchen, and as many bathrooms as rooms themselves. Kids can play around freely whilst you enjoy a
                cup of tea with your spouse in the balcony.
            </p>
            <p>The best bits of home with all the awesomeness of an apartment!</p>
            <div class="row">
                <div class="col-md-12 pb-4">
                    <img src="../../../assets/img/post-relax.jpg" />
                </div>
            </div>
            <h4>Homely food-Kitchen</h4>

            <p>
                All serviced apartments are equipped with fully functional kitchen, which means one can cook the favourite food of the entire family whenever
                they feel like. There is no compulsion of eating your meals on set time and on a set rate. This is also a good option for all vegetarians who
                have a problem with outside food in a region where non-vegetarian eating options are dominant.
            </p>
            <div class="row">
                <div class="col-md-12 pb-4">
                    <img src="../../../assets/img/post-kitchen.jpg" />
                </div>
            </div>
            <h4>Home Comfort</h4>

            <p>
                There’s nothing worse than a sterile, clinical looking hotel room, especially when you’re far from home. Typically, serviced apartments have a
                much homelier feel. Many come with added home comforts, like wall hangings, cushions and small accessories just to give you that extra beautiful
                touch of home. It may not seem like a big deal but it’s amazing how much a little attention to detail can really stir the best emotions within
                you.
            </p>
            <div class="row">
                <div class="col-md-12 pb-4">
                    <img src="../../../assets/img/post-comfort.jpg" />
                </div>
            </div>
            <h4>Costs per Apartment</h4>

            <p>
                This especially matters for bigger families. Some accommodation options can charge per head, and even hike up the prices once your kids hit
                their teens! Serviced apartments are tariffed per apartment per night. You have the flexibility to stay just for one night, a full week, or even
                months, irrespective of how many people you are.
            </p>
            <h4>Hotel Service Benefits</h4>

            <p>
                On the one hand, you have all the familiarity and comforts of home, but let’s not forget this is your holiday, so having some of the perks you’d
                expect with a hotel is a must as well. Many serviced apartments have a reception and an attendant to help you with any requirements. This makes
                you feel both homely and guest-like at the same time with respective bonuses of each.
            </p>
            <div class="row">
                <div class="col-md-12 pb-4">
                    <img src="../../../assets/img/post-service.jpg" />
                </div>
            </div>
            <h4>Visiting Hyderabad any time soon?</h4>

            <p>
                Check our Service Apartment which is situated next to the metro and bus station in the heart of the city. Our Apartment comes with a fully
                outfitted modular kitchen with a dining area; guest can cook, enjoy complimentary breakfast, get entertained and have a tranquil stay when away
                from home.
            </p>
        </div>
    </div>
    <div class="offset-md-1 offset-sm-1"></div>
</div>
